@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-topbarBg: #ddeefd;
  --color-topbarBorder: #2372bc;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


